<h1>Redefinição de Senha</h1>

<p>Olá {{name}},</p>
<p>Recebemos uma solicitação para redefinir a senha da sua conta. Se você não fez esta solicitação, você pode ignorar
    este email.</p>

</br>
<p>{{code}}</p>
</br>

<p>Para redefinir sua senha, clique no botão abaixo. Este link é válido por 5 minutos.</p>

<a href="{{resetLink}}" class="button">Redefinir Senha</a>
<p>Se o botão acima não funcionar, copie e cole o link abaixo no seu navegador:</p>
<p style="word-break: break-all;">{{resetLink}}</p>

<p>Por motivos de segurança, este link expirará em 5 minutos.</p>
<p>Se você não solicitou uma redefinição de senha, por favor, entre em contato com nosso suporte imediatamente.</p>
<p>Atenciosamente,<br>Equipe de Suporte</p>